:root {
  --primary: 58 32 110;     /* blue */
  --secondary: 29 41 145;   /* purple */
  --accent: 116 227 52;       /* green */
  --background: 36 17 69;
  --text: 15 23 42;

}

.dark {
  --background: 2 6 23;
  --text: 241 245 249;
}