:root {
  --primary: 40 21 64;     /* dark purple */
  --secondary: 150 129 174;   /* light purple */
  --accent: 154 185 88;       /* light green */
  --dark-accent: 92 107 60;       /* dark green */
  --background: 292 244 255;  /* purple white */
  --secondary-background: 40 29 23; /* dark brown */
  --light-grey: 165 158 173; /* light grey */
  --med-grey: 134 127 141; /* medium grey */
  --dark-grey: 74 67 82; /* dark grey */
  --hair: 71 54 36; /* hair */
  --skin: 229 201 191; /* skin */
  --secondary-accent: 159 93 71; /* orange */
  --dark-secondary-accent: 125 68 50; /* dark orange */
}

.dark {
  --background: 2 6 23;
  --text: 241 245 249;
}